{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">

{% block content %}
<h2>Hyper news</h2>
    {% regroup data by created|slice:":-9" as news_list %}
<ul>
    {% for created in news_list %}
        <li><h4>{{ created.grouper }}</h4>
            <ul>
                {% for news in created.list %}
                <li><a target="_blank" href="{{news.link}}">{{news.title}}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
<a target="_blank" href="/news/create/">Create news</a>
<form method="get">
    <input name="q">
    <button type="submit">Search</button>
</form>>
{% endblock %}